{% extends "lixo_eletronico/base.html" %}

{% block conteudo %}
    <div class="col s12 m10 offset-m1 l9 offset-l1"> 
	    <div class="post-preview">                    
	        <h3 class="post-title titleFont">
	           Sobre!
	        </h3>
	        <h5 class="post-subtitle ">
	          O Grupo de Estudos de Sustentabilidade e Tecnologia pensando no desenvolvimento sustentável realiza um projeto social de coleta de lixo eletrônico. O projeto visa realizar a triagem do lixo coletado, com o intuito de reutilizar os equipamentos e realizar doações à instituições. O lixo não utilizável é descartado junto à empresas responsáveis por este tipo de coleta.
	        </h5>            
	    </div>
	</div>    
{% endblock %}